.auth-container {
    padding: 1.5rem;
}

.auth-form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.error-message {
    border: 1px solid darkred;
    color: darkred;
    background-color: lightpink;
    padding: 1.5rem;
    border-radius: 30px;
}
